*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    display: grid;
    height: 100%;
    place-items: center;
    background:url(https://images.pexels.com/photos/2098428/pexels-photo-2098428.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) no-repeat center fixed;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    background-size:cover;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.outer{
    position: relative;
    background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
}

.circle{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}


.outer button, .outer span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.outer button{
    background-color: #111;
    color: #f2f2f2;
    outline: none;
    border: none;
    font-size: 1.6rem;
    text-transform: uppercase;
    cursor: pointer;
    z-index: 9;
}


.circle button{
    height:180px;
    width: 180px;
    border-radius: 50%;

}

.outer span{
    height: 100%;
    width: 100%;
    background: inherit;
}


 .circle span{
    border-radius: 50%;

}

.outer:hover span:nth-child(1){
    filter: blur(7px);
}
.outer:hover span:nth-child(2){
    filter: blur(14px);
}

.outer:hover{
    animation: rotate 1.5s linear infinite;
}

@keyframes rotate{
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
}